<div class="auth-container">
  <div class="auth-card">
    <div class="logo">
      <h1>Gestor de Tareas</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
      <app-standard-input
        formControlName="email"
        type="email"
        name="email"
        label="Email"
        placeholder="tu@email.com"
        [errorMessages]="errorMessages.email"
        [control]="loginForm.get('email')"
      >
      </app-standard-input>

      @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || loading">
        @if (loading) {
        <span>Cargando...</span>
        } @else{
        <span>Iniciar Sesión</span>
        }
      </button>

      <div class="auth-links">
        <p>¿No tienes cuenta? <a routerLink="/register">Regístrate aquí</a></p>
      </div>
    </form>
  </div>
</div>
